.page-body {
min-width: 1280px;
overflow-x: hidden;
margin: auto;
}
.page-header {
    width: 1280px;
    margin-left: 100px;
    margin-top: 63px;
    margin-bottom: 48px;
    padding-right: 100px;
}
.head {
margin: 0;
margin-bottom: 38px;
font-size: 80px;
line-height: 94px;
font-weight: 400;
color: #000000;
}
.accent-color {
color: 
#4BCAFF;
}
.main {
    display: flex;
    width: 1280px;
    justify-content: flex-start;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 800px;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    
}
.menu-item {
    font-size: 24px;
    list-style: none;
    line-height: 28px;
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #FFFFFF;
}
.menu-item-link {
    color: #FFFFFF;
}
.menu-item-hover:hover {
    background-color: #222F3A;
}
.menu-item:first-child{
    border-left: 1px solid #FFFFFF;
} 
.navigation-aside {
    display: flex;
    width: 345px;
    height: 400px;
}
.menu-aside {
    display: flex;
    list-style: none;
    width: 345px;
    height: 400px;
    font-weight: 400;
    font-size: 27px;
    border: 1px solid #000;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.menu-item-aside {
    padding-bottom: 25px;
    padding-left: 44px;
    margin-top: 20px;
}
.aside-link {
    color: #485863;
}
.aside-link-hover:hover {
    background-color: #DBDBDB;
        
}
.main-menu {
    width: 345px;
    height: 400px;
}
.content {
    width: 885px;
    height: 530px;
    margin-left: 53px;
    margin-right: 100px;
    border: 1px solid #000;
    margin-bottom: 37px;
    font-size: 18px;
}
.content-img {
    padding-left: 300px;
    padding-top: 75px;
    padding-bottom: 73px;

}
.footer {
    max-width: 1180px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
    margin-bottom: 30px;
    align-items: center;
    background-color: #63696E;
}
.footer-menu {
    display: flex;
    width: 875px;
    justify-content: space-between;
}
.footer-menu-item {
    font-size: 26px;
    list-style: none;
}
.footer-item-link {
    color: #0C1927;
}
.footer-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 130px;
    padding-right: 10px;
    color: #010101;
    font-size: 22px;
}
.footer-hover:hover {
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}